In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_excel("Hotel Dataset.xlsx")
df

,Booking ID,Date of Booking,Time,Customer ID,Gender,Age,Origin Country,State,Location,Destination Country,...,Check-Out Date,Rooms,Hotel Name,Hotel Rating,Payment Mode,Bank Name,Booking Price[SGD],Discount,GST,Profit Margin
0,DDMY00001,2010-01-01,10:49:40,MY00001,Male,42,Malaysia,Johor,Iskandar Puteri,Denmark,...,2010-01-20,1,Hotel Triton,4.3,Wallet,United Overseas Bank (UOB),243,0.01,0.07,0.25
1,DDID00002,2010-01-01,09:19:47,ID00001,Female,44,Indonesia,Ciawi,West Java,Colombia,...,2010-01-22,2,Enchanted Isle,4.2,Wallet,EZ-Link,312,0.00,0.07,0.24
2,DDSG00003,2010-01-01,11:52:56,SG00001,Female,31,Singapore,Central,Rochor,Germany,...,2010-01-09,2,Seacoast Hotel,4.5,Credit Card,Grab,338,0.19,0.07,0.20
3,DDSG00004,2010-01-01,13:44:40,SG00002,Male,28,Singapore,North,Yishun,Canada,...,2010-02-19,2,Night In Paradise,4.2,Debit Card,DBS Paylah,254,0.19,0.07,0.13
4,DDKH00005,2010-01-01,05:38:26,KH00001,Male,44,Cambodia,Phnom Trop,Pursat,Kenya,...,2010-01-06,3,Tiny Digs Hotel,4.6,Wallet,Bank of Singapore (BOS),313,0.15,0.07,0.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66536,DDSG66531,2019-12-31,23:36:16,SG12034,Female,42,Singapore,Central,Orchard,Germany,...,2020-01-10,2,Silver Cloud Inn,4.3,Wallet,Grab,182,0.23,0.07,0.24
66537,DDSG66532,2019-12-31,14:41:01,SG12035,Female,54,Singapore,Central,Geylang,Israel,...,2020-04-13,2,The Elet,4.2,COD,DBS Paylah,125,0.06,0.07,0.19
66538,DDSG66533,2019-12-31,19:11:16,SG12036,Female,57,Singapore,Central,Downtown Core,Canada,...,2020-01-10,4,The Elet,4.4,Debit Card,EZ-Link,318,0.02,0.07,0.22
66539,DDTH66534,2019-12-31,05:12:29,TH12170,Female,44,Thailand,Surat Thani,Ko Samui,Maldives,...,2020-01-02,2,Sunset Lodge,4.2,Debit Card,HSBC,173,0.14,0.07,0.25
66540,DDVN66535,2019-12-31,00:51:52,VN05959,Female,52,Vietnam,Pleiku,Gia Lai,Egypt,...,2020-01-28,3,Coastal bay hotel,4.3,Internet Banking,Grab,182,0.17,0.07,0.24

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66541 entries, 0 to 66540
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Booking ID           66541 non-null  object
 1   Date of Booking      66541 non-null  datetime64[ns]
 2   Time                 66541 non-null  object
 3   Customer ID          66541 non-null  object
 4   Gender               66541 non-null  object
 5   Age                  66541 non-null  int64
 6   Origin Country       66541 non-null  object
 7   State                66541 non-null  object
 8   Location             66541 non-null  object
 9   Destination Country  66541 non-null  object
 10  Destination City     66541 non-null  object
 11  No. Of People        66541 non-null  int64
 12  Check-in date        66541 non-null  datetime64[ns]
 13  No of Days           0 non-null      float64
 14  Check-Out Date       66541 non-null  datetime64[ns]
 15  Rooms                66541 non-null  int64
 16  Hotel Name           66541 non-null  object
 17  Hotel Rating         66541 non-null  float64
 18  Payment Mode         66541 non-null  object
 19  Bank Name            66541 non-null  object
 20  Booking Price[SGD]   66541 non-null  int64
 21  Discount             66541 non-null  float64
 22  GST                  66541 non-null  float64
 23  Profit Margin        66541 non-null  float64
dtypes: datetime64[ns](3), float64(5), int64(4), object(12)
memory usage: 12.2+ MB

In [4]:
df.isnull().sum()

Booking ID                 0
Date of Booking            0
Time                       0
Customer ID                0
Gender                     0
Age                        0
Origin Country             0
State                      0
Location                   0
Destination Country        0
Destination City           0
No. Of People              0
Check-in date              0
No of Days             66541
Check-Out Date             0
Rooms                      0
Hotel Name                 0
Hotel Rating               0
Payment Mode               0
Bank Name                  0
Booking Price[SGD]         0
Discount                   0
GST                        0
Profit Margin              0
dtype: int64

In [5]:
df_copy = df.copy()

In [6]:
df_copy["No of Days"] = df_copy["Check-Out Date"] - df_copy["Check-in date"]
df_copy

,Booking ID,Date of Booking,Time,Customer ID,Gender,Age,Origin Country,State,Location,Destination Country,...,Check-Out Date,Rooms,Hotel Name,Hotel Rating,Payment Mode,Bank Name,Booking Price[SGD],Discount,GST,Profit Margin
0,DDMY00001,2010-01-01,10:49:40,MY00001,Male,42,Malaysia,Johor,Iskandar Puteri,Denmark,...,2010-01-20,1,Hotel Triton,4.3,Wallet,United Overseas Bank (UOB),243,0.01,0.07,0.25
1,DDID00002,2010-01-01,09:19:47,ID00001,Female,44,Indonesia,Ciawi,West Java,Colombia,...,2010-01-22,2,Enchanted Isle,4.2,Wallet,EZ-Link,312,0.00,0.07,0.24
2,DDSG00003,2010-01-01,11:52:56,SG00001,Female,31,Singapore,Central,Rochor,Germany,...,2010-01-09,2,Seacoast Hotel,4.5,Credit Card,Grab,338,0.19,0.07,0.20
3,DDSG00004,2010-01-01,13:44:40,SG00002,Male,28,Singapore,North,Yishun,Canada,...,2010-02-19,2,Night In Paradise,4.2,Debit Card,DBS Paylah,254,0.19,0.07,0.13
4,DDKH00005,2010-01-01,05:38:26,KH00001,Male,44,Cambodia,Phnom Trop,Pursat,Kenya,...,2010-01-06,3,Tiny Digs Hotel,4.6,Wallet,Bank of Singapore (BOS),313,0.15,0.07,0.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66536,DDSG66531,2019-12-31,23:36:16,SG12034,Female,42,Singapore,Central,Orchard,Germany,...,2020-01-10,2,Silver Cloud Inn,4.3,Wallet,Grab,182,0.23,0.07,0.24
66537,DDSG66532,2019-12-31,14:41:01,SG12035,Female,54,Singapore,Central,Geylang,Israel,...,2020-04-13,2,The Elet,4.2,COD,DBS Paylah,125,0.06,0.07,0.19
66538,DDSG66533,2019-12-31,19:11:16,SG12036,Female,57,Singapore,Central,Downtown Core,Canada,...,2020-01-10,4,The Elet,4.4,Debit Card,EZ-Link,318,0.02,0.07,0.22
66539,DDTH66534,2019-12-31,05:12:29,TH12170,Female,44,Thailand,Surat Thani,Ko Samui,Maldives,...,2020-01-02,2,Sunset Lodge,4.2,Debit Card,HSBC,173,0.14,0.07,0.25
66540,DDVN66535,2019-12-31,00:51:52,VN05959,Female,52,Vietnam,Pleiku,Gia Lai,Egypt,...,2020-01-28,3,Coastal bay hotel,4.3,Internet Banking,Grab,182,0.17,0.07,0.24

In [7]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66541 entries, 0 to 66540
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Booking ID           66541 non-null  object
 1   Date of Booking      66541 non-null  datetime64[ns]
 2   Time                 66541 non-null  object
 3   Customer ID          66541 non-null  object
 4   Gender               66541 non-null  object
 5   Age                  66541 non-null  int64
 6   Origin Country       66541 non-null  object
 7   State                66541 non-null  object
 8   Location             66541 non-null  object
 9   Destination Country  66541 non-null  object
 10  Destination City     66541 non-null  object
 11  No. Of People        66541 non-null  int64
 12  Check-in date        66541 non-null  datetime64[ns]
 13  No of Days           66541 non-null  timedelta64[ns]
 14  Check-Out Date       66541 non-null  datetime64[ns]
 15  Rooms                66541 non-null  int64
 16  Hotel Name           66541 non-null  object
 17  Hotel Rating         66541 non-null  float64
 18  Payment Mode         66541 non-null  object
 19  Bank Name            66541 non-null  object
 20  Booking Price[SGD]   66541 non-null  int64
 21  Discount             66541 non-null  float64
 22  GST                  66541 non-null  float64
 23  Profit Margin        66541 non-null  float64
dtypes: datetime64[ns](3), float64(4), int64(4), object(12), timedelta64[ns](1)
memory usage: 12.2+ MB

In [8]:
df_copy["No of Days"]

0       8 days
1       1 days
2       7 days
3       4 days
4       3 days
         ...
66536   4 days
66537   4 days
66538   1 days
66539   1 days
66540   4 days
Name: No of Days, Length: 66541, dtype: timedelta64[ns]

In [9]:
df_copy.isnull().sum()

Booking ID             0
Date of Booking        0
Time                   0
Customer ID            0
Gender                 0
Age                    0
Origin Country         0
State                  0
Location               0
Destination Country    0
Destination City       0
No. Of People          0
Check-in date          0
No of Days             0
Check-Out Date         0
Rooms                  0
Hotel Name             0
Hotel Rating           0
Payment Mode           0
Bank Name              0
Booking Price[SGD]     0
Discount               0
GST                    0
Profit Margin          0
dtype: int64